<!DOCTYPE html>
<html>
  <head>
    <title>Salarios Colombia LiquidaTadeo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">   
  <%= image_tag 'logo.png', width: '1014px' %>
</nav>
    <%= yield %>
  </body>
</html>
